body{
    background-color: chartreuse;
}
.valorsoma{
    font-size: 70px;
    color: rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin: 0 auto;
}

.Java{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    text-align: center;
    margin: 0 auto;
    margin-top: 320px;
    color: rgb(22, 24, 23);

}

.Java button{
   border-radius: 20px;
   background-color: rgb(223, 73, 143);
   width: 90px;
   height: 43px;
}

.ativar nome {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ; 
    text-align: center;
    margin: 0cqi;
    margin-top: 0 auto;

}


